#task {
    border-radius: 20px;
    background-color: #f4adff;
}
#priority {
    border-radius: 20px;
    background-color: #f4adff;
}
#details {
    border-radius: 20px;
    background-color: #f4adff;
}
.buttons {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 16px;
  padding: 6px;
  border-radius: 10px;
  font-family: Tahoma, sans-serif;
  background-image: linear-gradient(to right, rgb(114, 28, 164) 0%, rgb(133, 22, 155) 50%, rgb(90, 9, 90) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(141, 28, 164);
  display: inline-block;}
.buttons:hover {
  background: #390341; }
.buttons:active {
  background: #390341; }
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: url("https://i.imgur.com/3UUH48f.jpeg");
  justify-content: top;
  background-size: stretch;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
  color: rgb(217, 217, 217);
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
};